<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Server configuration -->
	<appSettings>

		<!-- Server information -->
		<add key="name" value="The Economy" />
		<add key="mode" value="Roleplay" />
		<add key="language" value="Español" />
		<add key="version" value="1.0" />
		<add key="website" value="www.theeconomy.com" />
		<add key="forum" value="forum.theeconomy.com" />
		<add key="discord" value="www.discord.com/theeconomy" />

	</appSettings>

	<!-- MysQL configuration -->
	<connectionStrings>
		<add name="connectionStrings" connectionString="server=localhost;user=root;password=;database=database"/>
	</connectionStrings>

</configuration>