<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Server configuration -->
	<appSettings>

		<!-- Server information -->
		<add key="name" value="The Economy" />
		<add key="mode" value="Roleplay" />
		<add key="language" value="Español" />
		<add key="version" value="1.0" />
		<add key="website" value="www.theeconomy.com" />
		<add key="forum" value="forum.theeconomy.com" />
		<add key="discord" value="www.discord.com/theeconomy" />

		<!-- Colors -->
		<!-- <add key="primaryColorHexadecimal" value="41abff" />
		<add key="secondaryColorHexadecimal" value="deeeff" />
		<add key="primaryRedColorHexadecimal" value="ff4141" />
		<add key="secondaryRedColorHexadecimal" value="ffdede" />
		<add key="primaryYellowColorHexadecimal" value="ffeb3b" />
		<add key="secondaryYellowColorHexadecimal" value="feffde" />
		<add key="primaryGreenColorHexadecimal" value="4caf50" />
		<add key="secondaryGreenColorHexadecimal" value="e1ffde" /> -->

		<!-- Textdraws Colors -->
		<!-- <add key="primaryColorTextdraws" value="1101791231" />
		<add key="secondaryColorTextdraws" value="-890699777" />
		<add key="primaryRedColorTextdraws" value="-12500481" />
		<add key="secondaryRedColorTextdraws" value="-2171137" />
		<add key="primaryYellowColorTextdraws" value="-1360897" />
		<add key="secondaryYellowColorTextdraws" value="-16785665" /> -->

	</appSettings>

	<!-- MysQL configuration -->
	<connectionStrings>
		<add name="connectionStrings" connectionString="server=localhost;user=root;password=;database=database"/>
	</connectionStrings>

</configuration>